<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <style>
        .rating {
            color: yellow;
            font-size: 24px;
        }

        .star {
            position: relative;
            display: inline-block;
            margin-right: 16px;
        }

        .star::before {
            content: '\2605';
            position: absolute;
            left: 0;
            top: 0;
        }

        .star.half::before {
            clip-path: inset(0% 50% 0% 0%);
        }
    </style>
</head>
<body>
<div th:insert="~{fragments/navBar.html :: body}"></div>
<div th:object="${feedbackDtoList}" class="container-fluid">
    <div>
        <div class="m-4">
            <a th:href="@{${'/restaurant/' + restaurantId}}" type="button" class="btn btn-primary btn-lg">Go to restaurant</a>
        </div>
    </div>
    <div th:block th:each="feedbackDto : ${feedbackDtoList}" class="row">
        <div class="col-2 bg-opacity-50 text-dark p-3 m-3">
            <p strong th:text="${feedbackDto.userFullName}"></p>
        </div>
        <div class="col-2 bg-opacity-50 text-dark p-3 m-3">
            <p strong th:text="${feedbackDto.rating}"></p>

            <div class="rating">
                <span class="star filled" th:each="i : ${#numbers.sequence (1,feedbackDto.rating)}"></span>
                <span th:if="${false}" class="star half"></span>
            </div>
        </div>
        <div class="col-sm bg-opacity-50 text-dark p-3 m-3">
            <p th:text="${feedbackDto.review}"></p>
        </div>
    </div>
</div>
</body>
</html>